body{
    min-height: 100vh !important;
    background: #f5f4f4!important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-family: iransansdn !important;
}

@media (min-width: 1200px){
.container {
    max-width: 1300px !important;
}
}

.custom-made{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    flex-direction: row;
    border: 3px solid #5443c3;
    background-color: #ffff !important;
}

.subject-sidebar{
    background-color: #5443c3;
    border-radius: 25px;
}

li.list-group-item.active{
    background-color: #766ad0 !important;
    border: none !important;
    border-radius: 13px;
    font-family: iransansdn !important;
} 

li.list-group-item {
    background: none;
    border: none;
    color: #fff;
    font-family: iransansdn !important;
}

li.list-group-item a {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li.list-group-item a:hover{
    text-decoration: none;
}

li.list-group-item.mb-4 a p {
    margin: 0;
}

.log-out{
    padding: .75rem 1.25rem;
}

.log-out a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    color: #fff;
    text-decoration: none;
}

.log-out a:hover {
    text-decoration: none;
    color: #fff;
}

.icon-home1{
    font-size: 20px;
}

.search > form {
    background-color: #ddd9f2;
    border-radius: 7px;
    width: 100%;
}

.search > form > label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.search > form > label > input {
    color: #9f98c1;
    font-family: iransansdn;
    padding: 9px;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    border: none;
    background: transparent;
    top: 0;
    right: 0;
    outline: none;
    text-align: right;
    width: 100%;
}

.search > form > label > button {
    position: relative;
    z-index: 333;
    background: transparent;
    border: none;
    color: #9089b2;
    outline: none;
}

.menu-user > ul{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.menu-user > ul > li > a {
    color:#5b49ba !important;
    font-size: 20px;

}

.menu-user > ul > li > a:hover{
    text-decoration: none;
    color:#5b49ba !important;
}

.img-user {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #5443c3;
    overflow: hidden;
}

.img-user > img {
    width: 100%;
    height: 100%;
}

.name-user {
    margin: 0;
    font-size: 15px;
    margin-left: 10px;
    color: #9c9c9c;
    display: flex;
    align-items: center;
}

.name-user:hover>ul{
    top: 50px;
    opacity: 1;
    pointer-events: auto;
}

.name-user > ul {
    list-style: none;
    position: absolute;
    top: 70px;
    left: 200px;
    border: 2px solid #5443c3;
    border-radius: 7px;
    padding: 11px 40px 10px 40px;
    opacity: 0;
    pointer-events: none;
}